<section id="ofertas" class="py-5">
  <div class="bg-title">
    <div class="container">
      <h1 class="title mb-4">{{ json.title }}</h1>
      <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-lg-6">
          <select
            class="browser-default custom-select select mb-4 form-control"
            (change)="onLojas($event)"
          >
            <option
              *ngFor="let item of lojas"
              [value]="item.cod_loja"
              selected
              >{{ item.nome }}</option
            >
          </select>
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="O que esta procurando?"
          />
        </div>
      </div>
      <h3 class="text-center bold">{{ nameLoja }}</h3>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <div class="news">
          <h3 class="b-07 border-bottom pb-1 mb-2 white-text">Departamento</h3>
          <ul class="nav flex-column grey lighten-4 py-2">
            <li
              class="nav-item"
              *ngFor="let n of depart"
              routerLinkActive="active"
              (click)="onDepart(n)"
            >
              <a class="nav-link b-07 f-09">
                <mdb-icon fas icon="shopping-basket" class="mr-1"></mdb-icon>
                {{ n.nome }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div
            class="col-md-4 mb-5"
            *ngFor="
              let code of shops | paginate: { itemsPerPage: 6, currentPage: p }
            "
          >
            <app-product [code]="code"></app-product>
          </div>
        </div>
        <div class="text-center">
          <pagination-controls
            class="animated fade text-center mt-5 border-top pt-1"
            (pageChange)="p = $event"
            autoHide="true"
            responsive="true"
            previousLabel="Anterior"
            nextLabel="Próximo"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
