@import "../../../../style_var";

.bg-title {
  padding: 3rem 0;
  height: auto;
  background: linear-gradient($cor-d, $cor-g);
  -moz-border-radius: 0 0 50% 50%;
  -webkit-border-radius: 0 0 50% 50%;
  border-radius: 0 0 70% 70%;
  .title {
    color: #fff;
    text-align: center;
    font-weight: 800;
  }
}

.bold {
  font-weight: 800;
  text-decoration: underline;
}
