@import '../../../../style_var';

.logo-condor {
  width: 180px;
}

.blogger {
  @include gradient(to bottom right, $cor-b, $cor-a);
  // background: red;
}

.btn-circle {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 450px) {
  .logo-condor {
    width: 130px;
  }
  .btn-circle {
    width: 35px;
    height: 35px;
    i {
      margin-left: -3px;
    }
  }
}

@media (max-width: 395px) {
  .logo-condor {
    width: 130px;
  }
  .btn-circle {
    width: 35px;
    height: 35px;
    i {
      margin-left: -3px;
    }
  }
}

@media (max-width: 320px) {
  .logo-condor {
    width: 100px;
  }
  .btn-circle {
    width: 30px;
    height: 30px;
    line-height: 1 !important;
    i {
      margin-left: -4px;
      font-size: 0.8rem;
    }
  }
}
