<footer id="footer" class="blogger py-4">
  <div class="container">
    <div class="row ios justify-content-between">
      <div class="col-6 col-md-4 col-lg-3">
        <a href="">
          <img
            src="./assets/images/logo-condor.svg"
            alt="Rede Condor"
            class="logo-condor"
          />
        </a>
      </div>
      <div class="col-md-6 d-none d-lg-block">
        <p class="text-center b-05 mt-2 mb-0">
          {{ foot.title }}
        </p>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="d-flex flex-row">
          <a [href]="foot.fb" class="btn btn-circle mb-0">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a [href]="foot.ig" target="_blank" class="btn btn-circle mb-0 mx-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a [href]="foot.tw" target="_blank" class="btn btn-circle mb-0 mr-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a [href]="foot.yt" target="_blank" class="btn btn-circle mb-0">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-12 d-lg-none">
        <p class="text-center b-05 mt-4 mb-0">
          {{ foot.title }}
        </p>
      </div>
    </div>
  </div>
</footer>
