@import '../../../style_var';

.clube,
.boxer-download-condor {
  @include gradient(to bottom right, $cor-c, $cor-d);
  // background: red;
}

.bg-download {
  background: linear-gradient(
    to bottom right,
    rgba(41, 125, 185, 0.8),
    rgba(43, 181, 181, 0.8)
  ) !important;
}

.title {
  text-align: center;
  color: #fff;
  @include bolder(800);
  @include shadow();
  span {
    color: $cor-g;
  }
}

.chip {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: #eceff1;
  border-radius: 16px;
  transition: all 0.3s linear;
  img {
    float: left;
    width: 38px;
    height: 38px;
    margin: 0 8px 0 -22px;
    border-radius: 50%;
  }
}

.boxer-clube-condor {
  @include gradient(to bottom right, $cor-e, $cor-f);
}

.loja {
  background: url(../../../assets/images/br_localizacao.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-img-1 {
  background: url(../../../assets/images/img1.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
  border-radius: 10px;
}

.black-img-2 {
  background: url(../../../assets/images/img2.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
  border-radius: 10px;
}

.btn-rounded {
  border-radius: 10em;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2.1rem !important;
  }
  .boxer-clube-condor,
  .boxer-download-condor {
    height: 225px;
  }
}

@media (max-width: 768px) {
  .col-md-6:nth-child(3) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .title {
    font-size: 2rem !important;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 1.4rem !important;
  }
}
