<main *ngFor="let i of setting">
  <app-contagem
    *ngIf="i.block === 'contagem' && i.action === false"
  ></app-contagem>
  <app-carousel
    *ngIf="i.block === 'carousel' && i.action === false"
  ></app-carousel>
  <router-outlet
    *ngIf="i.block === 'ofertas' && i.action === true"
  ></router-outlet>
  <section
    id="clube"
    class="clube py-5"
    *ngIf="i.block === 'clube' && i.action === false"
  >
    <div class="container">
      <div class="row ios justify-content-center">
        <div class="col-xl-10">
          <h1 class="title mb-0">{{ clube.text1 }}</h1>
          <h1 class="title">{{ clube.text2 }}</h1>
          <div class="text-center mt-4">
            <div class="chip waves-effect">
              <a [href]="clube.url">
                <img src="./assets/images/smile.png" alt="Clube Condor" />
                {{ clube.textButtom }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    id="download"
    class="py-5 bg-download"
    *ngIf="i.block === 'download' && i.action === false"
  >
    <div class="container">
      <div class="row ios justify-content-center">
        <div class="col-md-8">
          <div class="py-4">
            <h4 class="text-center white-text b-06">{{ down.text2 }}</h4>
            <h4 class="text-center white-text b-06">{{ down.text3 }}</h4>
            <div class="mt-4 row ios justify-content-center">
              <div class="col-6">
                <a
                  target="_blank"
                  rel="external"
                  href="https://apps.apple.com/br/app/clube-condor/id1453391822"
                >
                  <img
                    src="./assets/images/app-store.png"
                    alt="App Store"
                    class="img-fluid mx-auto d-block"
                  />
                </a>
              </div>
              <div class="col-6">
                <a
                  target="_blank"
                  rel="external"
                  href="https://play.google.com/store/apps/details?id=br.com.gsgroup.zoombox.condorsupermercados"
                >
                  <img
                    src="./assets/images/google-play.png"
                    alt="Google Play"
                    class="img-fluid mx-auto d-block"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    id="lojas"
    class="loja"
    *ngIf="i.block === 'lojas' && i.action === false"
  >
    <a [href]="lojas.url">
      <div class="container py-5">
        <div class="row ios justify-content-center">
          <div class="col-xl-10">
            <h1 class="title mb-0">
              {{ lojas.text1 }}
              <span>{{ lojas.text2 }}</span>
              {{ lojas.text3 }}
            </h1>
          </div>
        </div>
      </div>
    </a>
  </section>
  <section
    id="radar"
    class="radar"
    *ngIf="i.block === 'radar' && i.action === false"
  >
    <a [href]="radar.url">
      <img
        [src]="radar.img1"
        alt="Radar de Ofertas"
        class="img-fluid d-none d-md-block"
      />
      <img
        [src]="radar.img2"
        alt="Radar de Ofertas"
        class="img-fluid d-md-none"
      />
    </a>
  </section>
  <section
    id="bf"
    class="py-5"
    *ngIf="i.block === 'black' && i.action === false"
  >
    <div class="container">
      <h1 class="title mb-4">{{ black.title }}</h1>
      <div class="row ios justify-content-center mb-4">
        <div class="col-md-6 col-lg-5">
          <div class="black-img-1 mb-4">
            <div style="height: 270px;">
              <h1 class="pt-4 px-4 title text-left">{{ black.alt1 }}</h1>
            </div>
          </div>
          <div class="white-text b-03" [innerHTML]="black.text1"></div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="black-img-2 mb-4">
            <div style="height: 270px;">
              <h1 class="pt-4 px-4 title text-left">{{ black.alt2 }}</h1>
            </div>
          </div>
          <div
            class="white-text b-03 text-justify"
            [innerHTML]="black.text2"
          ></div>
        </div>
      </div>
      <div class="text-center">
        <a
          [href]="black.url"
          target="_blank"
          class="btn btn-danger btn-rounded"
        >
          <h6 class="mb-0 text-uppercase white-text b-07 py-1 px-3">
            saiba mais
          </h6>
        </a>
      </div>
    </div>
  </section>
  <section
    id="blog"
    class="py-5"
    *ngIf="i.block === 'blogger' && i.action === true"
  >
    <div class="container">
      <h1 class="title mb-4">{{ blog.title }}</h1>
      <div class="row ios mb-4">
        <div
          *ngFor="let b of posts"
          class="col-12 col-md-6 col-lg-4 mb-4 container-blog"
        >
          <app-post [blog]="b.id"></app-post>
        </div>
      </div>
      <div class="text-center">
        <a
          href="https://www.condor.com.br/blog"
          target="_blank"
          class="btn btn-danger btn-rounded"
        >
          <h6 class="mb-0 text-uppercase white-text b-07 py-1 px-3">
            {{ blog.buttom }}
          </h6>
        </a>
      </div>
    </div>
  </section>
  <app-footer *ngIf="i.block === 'footer' && i.action === true"></app-footer>
</main>
<app-scroll-top></app-scroll-top>
