@import "../../../../style_var";

.scroll-to-top {
  position: fixed;
  //z-index: 998;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background: #1d1f21;
}

.btn-floating.btn-lg {
  width: 61.1px;
  height: 61.1px;
}

.btn-floating.btn-lg i {
  font-size: 1.625rem;
  line-height: 61.1px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: $cor-a;
}
