.price-card {
  width: 100%;
  height: 450px;
  /*    SE FOR PNG TRANSPARENTE*/
  /*    height: 400px;*/
  text-align: center;
  float: left;
  margin: 0px;
  position: relative;
  border-radius: 15px;
  background: #f5f6fa;
  background: -moz-linear-gradient(45deg, #f5f6fa 0%, white 70%, white 100%);
  background: -webkit-linear-gradient(45deg, #f5f6fa 0%, white 70%, white 100%);
  background: linear-gradient(45deg, #f5f6fa 0%, white 70%, white 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /*    cursor: url("https://www.condor.com.br/img/zoom.png"), auto;*/
  cursor: url("../../../../assets/images/zoom.png") 43 40, auto;
}

.price-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}

.price-card .img-container {
  height: 35%;
  padding: 10px;
}

.price-card .img-container img {
  height: 100%;
  /*    SE FOR PNG TRANSPARENTE*/
  /*    height: 160%;*/
  /*    margin-top: -130px;*/
}

.price-card .img-container img {
  margin-right: -20px;
  transform: scale(0.9);
}

.price-card .img-container img:last-child {
  margin: 0;
  transform: scale(1);
}

.card-content {
  width: 100%;
  height: 55%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
}

.card-content p {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 12px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}

.card-content ul:before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #3a87fa;
}

.card-content p span {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.price-card span.validade {
  font-size: 0.7rem;
  line-height: 1.3;
  width: 100%;
  left: 0;
  position: absolute;
  padding: 10px;
  font-weight: 600;
}

.card-content p span {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card-content .laranja {
  background: #ff8924;
  width: 100%;
  padding: 30px 20px 5px 20px;
  color: white;
  border-radius: 15px 15px 0 0;
}

.card-content .laranja.clube {
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(249, 144, 25, 0.44),
    0 5px 5px rgba(251, 211, 130, 0.22);
}

.card-content .azul {
  background: #1a91c6;
  width: 100%;
  padding: 5px 20px;
  color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 15px rgba(43, 132, 162, 0.44),
    0 5px 5px rgba(130, 226, 251, 0.22);
}

.card-content .laranja *,
.card-content .azul * {
  color: white;
  margin: 0;
}

.card-content .laranja h2,
.card-content .azul h2 {
  margin-top: -5px;
}

.card-content .parcelamento {
  width: 100%;
  /*    margin-top: 9em;*/
}

.card-content .sem-parcelamento {
  width: 100%;
  /*    margin-top: 9em;*/
}

.card-content .sem-parcelamento {
  margin-top: 87px;
}

/*
.card-content .sem-parcelamento.vantagens {
  margin-top: 0;
}
*/

.embalagem {
  font-size: 0.8rem !important;
}
.line-through {
  // text-decoration: line-through !important;
}
.card-content .unidades {
  background: #ffee00;
  color: #f44336;
  padding: 5px;
  width: 80px;
  position: absolute;
  top: -20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: -0.12px;
  right: -20px;
  border-radius: 10px 0px 10px 0;
}

.card-content .unidades span {
  color: white;
  font-weight: 900;
}

.card-content .sem-clube {
  margin-top: 100px;
  border-radius: 15px;
  padding: 20px;
}

.card-content .valor p {
  font-size: 0.8rem;
}

.card-content ul {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.card-content ul li {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem;
  list-style: none;
  line-height: 2em;
  // text-decoration: line-through;
}

.card-content img {
  max-width: 6rem;
  margin-bottom: -25px;
  z-index: 1;
}

.card-content .tag {
  width: 100%;
  text-align: center;
}

button {
  width: 100%;
  height: 56px;
  line-height: 52px;
  border: none;
  border-radius: 5px;
  background-color: rgba(248, 194, 145, 0.4);
  color: #fa983a;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #fa983a;
  color: #ffeddc;
}
