<div class="price-card my-3">
  <div class="img-container">
    <img
      *ngIf="imagem"
      appLazyLoad
      [src]="imagem"
      alt="{{ code.dsc_produto }}"
    />
    <img
      *ngIf="!imagem"
      appLazyLoad
      src="https://marketing.condor.com.br/api/Containers/produtos/download/sem-produto.jpg"
      alt="{{ code.dsc_produto }}"
    />
  </div>
  <div class="card-content">
    <p>{{ code.dsc_produto }}</p>
    <ul *ngIf="shops.vlr_preco_clube">
      <li [ngClass]="{ 'line-through': shops.vlr_preco_clube }">
        <span>R$ {{ code.vlr_preco_regular | number: "1.2-2" }}</span>
      </li>
    </ul>
    <div class="unidades" *ngIf="code.dsc_kit">
      {{ code.dsc_kit }}
    </div>
    <div class="valor parcelamento">
      <div class="tag" *ngIf="code.vlr_preco_clube">
        <img src="./assets/images/clube2.png" alt="Tag Clube Condor" />
      </div>
      <div class="laranja" *ngIf="code.qtd_parcela_clube">
        <p>
          <span class="text-lowercase">{{ code.qtd_parcela_clube }}x</span> de
          <span>R$ {{ code.vlr_parcela_clube | number: "1.2-2" }}</span>
          <span class="embalagem">{{ code.embalagem }}</span>
        </p>
      </div>
      <div
        class="laranja clube"
        *ngIf="!code.qtd_parcela_clube && code.vlr_preco_clube"
      >
        <h2 class="text-center b-09">
          <span>R$ {{ code.vlr_preco_clube | number: "1.2-2" }}</span>
          <span class="embalagem">{{ code.embalagem }}</span>
        </h2>
      </div>
      <div class="azul" *ngIf="code.qtd_parcela_clube && code.vlr_preco_clube">
        <p>
          Ou à vista<br />
          <span>R$ {{ code.vlr_preco_clube | number: "1.2-2" }}</span>
          <span class="embalagem">{{ code.embalagem }}</span>
        </p>
      </div>
      <div class="valor azul sem-clube" *ngIf="!code.vlr_preco_clube">
        <h2 class="text-center b-09">
          R$ {{ code.vlr_preco_regular | number: "1.2-2" }}
          <span class="embalagem">{{ code.embalagem }}</span>
        </h2>
      </div>
    </div>
  </div>
  <span class="validade"
    >Oferta Válida de {{ start | date: "dd/MM/yyyy" }} a
    {{ end | date: "dd/MM/yyyy" }} {{ code.cod_loja }}
  </span>
</div>
