.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 0.5rem 1.25rem;
  height: 130px !important;
}

@media (max-width: 768px) {
  img {
    width: 100% !important;
  }
  .card-title {
    h5 {
      font-size: 1rem;
    }
    h5.b-07 {
      font-weight: 500 !important;
    }
  }
}
