<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <img [src]="imagem" alt="{{ item.title?.rendered }}" class="img-fluid" />
    <a [href]="item.link" target="_blank">
      <div class="mask"></div>
    </a>
  </div>
  <mdb-card-body>
    <mdb-card-title>
      <h5 class="b-07">{{ item.title?.rendered }}</h5>
    </mdb-card-title>
    <p class="text-right mb-0 border-top pt-1">
      <a [href]="item.link" target="_blank" class="text-muted b-06">
        Ler Mais
        <mdb-icon fas icon="angle-double-right" class="ml-1"></mdb-icon>
      </a>
    </p>
  </mdb-card-body>
</mdb-card>
