<div class="content">
  <img src="./assets/images/24x.png" alt="" class="balao desktop" />
  <img src="./assets/images/50.png" alt="" class="balao desktop" />
  <img src="./assets/images/logo_black_friday.png" class="logo_black" alt="" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <mdb-carousel [animation]="'slide'">
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="./assets/images/carousel/001.png"
              alt="First slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="./assets/images/carousel/001.png"
              alt="Second slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="./assets/images/carousel/001.png"
              alt="Third slide"
            />
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
    <!-- <div class="item">
      <div class="img_Box active">
        <img src="img/prod1.png" alt="" />
        <div class="icones fas fa-chevron-right right"></div>
      </div>
    </div> -->
  </div>
  <div class="slasher">

  </div>
</div>
<div class="baloons mobile">
  <img src="img/24x_mobile.png" alt="" />
</div>
