.content {
  width: 100vw;
  height: 100%;
  /*
    background: linear-gradient(to bottom,
        #fff0,
        #fff3), url(../img/bg_black_carousel.jpg);
*/
  background-image: url(../../../../assets/images/bg_black_carousel.jpg);
  background-size: cover;
  background-position: bottom center;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  position: relative;
}

.logo_black {
  max-width: 70%;
  margin-top: 25%;
  margin-bottom: 30%;
}

.content .balao:nth-of-type(1) {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 2;
  animation: float 4s ease-in-out infinite;
}

.content .balao:nth-of-type(2) {
  position: absolute;
  bottom: 40%;
  left: 3%;
  z-index: 2;
  animation: float 6s ease-in-out infinite;
}

.slasher {
  width: 100%;
  height: 400px;
  background-image: url(../../../../assets/images/slash_black_carousel.png);
  background-size: cover;
  background-position: top center;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  padding: 20px;
  padding-top: 150px;
  margin-top: -150px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -17%;
}

.item {
  max-width: 85%;
}

.item img {
  width: 100%;
}

/*CARROSSEL*/

.img_Box {
  position: relative;
  padding: 20px;
}

.icones {
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 3px 5px #0006;
  width: 45px;
  height: 45px;
  color: white;
  background: rgb(208, 67, 29);
  background: -moz-linear-gradient(
    180deg,
    rgba(208, 67, 29, 1) 0%,
    rgba(237, 130, 49, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(208, 67, 29, 1) 0%,
    rgba(237, 130, 49, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(208, 67, 29, 1) 0%,
    rgba(237, 130, 49, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0431d", endColorstr="#ed8231", GradientType=1);
}

.img_Box .icones {
  position: absolute;
  top: 0;
  bottom: 25%;
  margin: auto;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.img_Box .right {
  right: 0;
  margin-right: -27px;
}

.img_Box .left {
  left: 0;
  margin-left: -27px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.baloons {
  text-align: center;
  margin-top: -25%;
  position: relative;
  z-index: 1;
}

.baloons img {
  width: 100%;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 640px) {
  .logo_black {
    margin-bottom: 0%;
  }
  .products {
    margin-bottom: -25%;
  }
}

@media (min-width: 769px) {
  .logo_black {
    max-width: 40%;
    margin-top: 10%;
    margin-bottom: 0%;
  }
  .item {
    max-width: 60%;
  }

  .products {
    margin-bottom: -20%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    width: 150px;
  }
}

@media (min-width: 1024px) {
  .logo_black {
    margin-bottom: 0%;
  }
}

@media (min-width: 1200px) {
  .logo_black {
    margin-top: 5%;
    margin-bottom: 0%;
  }
  .slasher {
    height: 250px;
  }
}

@media (max-width: 1024px) {
}
