/* You can add global styles to this file, and also import other style files */
@import "style_var.scss";

// Body
body {
  // @include family('Nunito');
  background: url(./assets/images/bg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// shadow
.shaw {
  @mixin shadow($opacidade: 0.8) {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, $opacidade);
  }
}

// bold
.b-03 {
  @include bolder(300);
}
.b-04 {
  @include bolder(400);
}
.b-05 {
  @include bolder(500);
}
.b-06 {
  @include bolder(600);
}
.b-07 {
  @include bolder(700);
}
.b-08 {
  @include bolder(800);
}
.b-09 {
  @include bolder(900);
}

.carousel .carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: $cor-a !important;
  border-radius: 20px;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #fff !important;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  color: #fff !important;
  background: #2199e8 !important;
}
