// Font-Type
@mixin family($nome) {
  font-family: $nome, sans-serif !important;
}

// Colors
$cor-a: #f36c20;
$cor-b: #ebb100;
$cor-c: #e64040;
$cor-d: #f3981c;
$cor-e: #297db9;
$cor-f: #2bb5b5;
$cor-g: #ffee00;

@mixin bolder($number) {
  font-weight: $number !important;
}

@mixin gradient($grau, $color1, $color2) {
  background: linear-gradient($grau, $color1, $color2) !important;
}

@mixin shadow($opacidade: 0.8) {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, $opacidade);
}

/**
 * Compatibilidade com Safari Antigo
 */
@mixin safari() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
