@import '../../../../style_var';

.header {
  height: 100vh;
}

.img-50p {
  width: 150px;
  position: absolute;
  left: 0px !important;
  bottom: 0px !important;
}

.img-24x {
  width: 150px;
  position: absolute;
  right: 10px !important;
  top: 20px !important;
}

.img-24x-mobile {
  display: none;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  @include bolder(800);
  @include shadow();
}

.countdown {
  .boxer {
    margin: 0 10px;
    width: 100%;
    .card {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 1rem;
      text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
      background: rgb(233, 233, 233);
      background: linear-gradient(
        0deg,
        rgba(233, 233, 233, 1) 0%,
        rgba(241, 241, 241, 1) 51%,
        rgba(255, 255, 255, 1) 51%,
        rgba(255, 255, 255, 1) 100%
      );
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.52);
      .time {
        margin-bottom: 0px;
        font-size: 5rem;
        text-align: center;
        font-weight: 800;
        color: $cor-a;
      }
    }
    .text {
      vertical-align: bottom;
      margin-bottom: 0px;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 500;
      color: $cor-a;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    height: 95vh;
  }
  .img-24x,
  .img-50p {
    width: 150px;
  }
  .title {
    font-size: 2rem;
  }
  .countdown {
    .boxer {
      .card {
        .time {
          font-size: 3rem;
        }
      }
      .text {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .img-24x,
  .img-50p {
    width: 130px;
  }
  .title {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .countdown {
    .boxer {
      .card {
        .time {
          font-size: 3rem;
        }
      }
      .text {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .img-50p,
  .img-24x {
    display: none;
  }

  .img-24x-mobile {
    display: block;
    position: absolute;
    max-width: 85%;
    bottom: 0;
    left: 10%;
  }
  .title {
    margin-top: 0rem;
    font-size: 1.8rem;
  }
  .countdown {
    .boxer {
      .card {
        .time {
          font-size: 2.2rem;
        }
      }
      .text {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .img-50p,
  .img-24x {
    display: none;
  }

  .img-24x-mobile {
    display: block;
    position: absolute;
    max-width: 85%;
    bottom: 0;
    left: 10%;
  }
  .title {
    margin-top: 0rem;
    font-size: 1.8rem;
  }
  .countdown {
    .boxer {
      .card {
        .time {
          font-size: 2rem;
        }
      }
      .text {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .img-50p,
  .img-24x {
    display: none;
  }

  .img-24x-mobile {
    display: block;
    position: absolute;
    max-width: 95%;
    bottom: 0;
    left: 5%;
  }

  .title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .countdown {
    .boxer {
      margin: 0 3px;
      .card {
        .time {
          font-size: 2rem;
        }
      }
      .text {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 320px) {
  .img-50p,
  .img-24x {
    display: none;
  }

  .img-24x-mobile {
    display: block;
    position: absolute;
    max-width: 95%;
    bottom: 0;
    left: 5%;
  }

  .title {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  .countdown {
    .boxer {
      margin: 0 3px;
      .card {
        .time {
          font-size: 1.3rem;
        }
      }
      .text {
        font-size: 0.8rem;
      }
    }
  }
}
