<header class="header">
  <img src="./assets/images/50.png" alt="50% em desconto" class="img-50p" />
  <img src="./assets/images/24x.png" alt="24x parcelas" class="img-24x" />
  <img
    src="./assets/images/24x_mobile.png"
    alt="24x parcelas"
    class="img-24x-mobile"
  />
  <div class="container mt-4">
    <div class="row ios justify-content-center mb-md-5">
      <div class="col-md-8 col-lg-7 col-xl-9">
        <img
          src="./assets/images/logo_black_friday.png"
          alt="Black Friday Condor"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row ios justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-9">
        <h1 class="title mb-2" [innerHTML]="cont.title"></h1>
        <lib-countdown
          [date]="finishDate"
          isCustomTemplate="isCustomTemplate"
          (daysChanged)="onDaysChanged($event)"
          (hoursChanged)="onHoursChanged($event)"
          (minutesChanged)="onMinutesChanged($event)"
          (secondsChanged)="onSecondsChanged($event)"
        >
          <div class="countdown">
            <div class="d-flex flex-row">
              <div class="boxer">
                <div class="card">
                  <p class="time">{{ days }}</p>
                </div>
                <p class="text">Dias</p>
              </div>
              <h1 class="white-text mt-3 mt-lg-4 mt-xl-5 b-09">:</h1>
              <div class="boxer">
                <div class="card">
                  <p class="time">{{ hours }}</p>
                </div>
                <p class="text">Horas</p>
              </div>
              <h1 class="white-text mt-3 mt-lg-4 mt-xl-5 b-09">:</h1>
              <div class="boxer">
                <div class="card">
                  <p class="time">{{ minutes }}</p>
                </div>
                <p class="text">Minutos</p>
              </div>
              <h1 class="white-text mt-3 mt-lg-4 mt-xl-5 b-09">:</h1>
              <div class="boxer">
                <div class="card">
                  <p class="time">{{ seconds }}</p>
                </div>
                <p class="text">Segundos</p>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <p class="number-style center-align">
                    <strong class="text-bold">Days Remaining: </strong>
                    {{ days }}
                  </p>
                  <br />
                  <p class="number-style center-align">
                    <strong class="text-bold">Hours Remaining: </strong>
                    {{ hours }}
                  </p>
                  <br />
                  <p class="number-style center-align">
                    <strong class="text-bold">Minutes Remaining: </strong>
                    {{ minutes }}
                  </p>
                  <br />
                  <p class="number-style center-align">
                    <strong class="text-bold">Seconds Remaining: </strong>
                    {{ seconds }}
                  </p>
                  <br />
                </div>
                <div class="card-content" [style.background]="backgroundColor">
                  <span
                    class="card-title activator white-text text-darken-4 center-align"
                    [style.color]="textColor"
                    >I'm a custom card</span
                  >
                </div>
              </div>
            </div>
          </div> -->
        </lib-countdown>
      </div>
    </div>
  </div>
</header>
